{% assign date_format = site.date_format | default: " %-d, %Y" %}
{% if page.last_modified_at %}
  {% assign m = page.last_modified_at | date: "%-m" | minus: 1 %}
  <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time class="dt-published" datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ site.data.ui-text[site.locale].months[m] }}{{ page.last_modified_at | date: date_format }}</time></p>
{% elsif page.date %}
  {% assign m = page.date | date: "%-m" | minus: 1 %}
  <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ site.data.ui-text[site.locale].months[m] }}{{ page.date | date: date_format }}</time></p>
{% endif %}